@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.vote-status-wrapper {
  position: absolute;
  left: 50px;
  top: 100px;
  

  .running {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.421);
    border-radius: 100px;
    animation: blink 0.8s linear infinite;
    margin-left: 50;
  }

  .finished {
    top: 300;
    padding-top: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    animation: blink 4s linear infinite;
  }
}
