.login-layout-wrapper {
  background-image: url(https://media.cdn.kaufland.de/product-images/original/7834a52e37e55f3f8d2316d467d60a45.jpg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
  
  .head{
    size: 2em;
  }

  .left {
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  

    .title-green {
      color: $theme-primary;
      
    }
  }

  .title-red {
    color: orangered;
    
  }


  .right {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
