.polls-container {
  @include box-shadow;
  
  background-image: url(https://media.cdn.kaufland.de/product-images/original/7834a52e37e55f3f8d2316d467d60a45.jpg);
  
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

  .votes-wrapper {
    padding-top: 50px;
  }
}
